<div id="wrapper_1"><!-- sets background to white and creates full length leftcol-->
	<div id="main_col"><!-- begin main content area -->

		<img src="./images/DebateTab_Logo_ns.gif" alt="Logo" />
		<h1><%= title %></h1><br>

		<h2>Nick Carneiro</h2><br><br>
		<div class="team_member_description">
		Nick's description
		</div>
		<br>
		
		<h2>Ali Nabi</h2><br><br>
		<div class="team_member_description">
		Ali's description
		</div>
		<br>
		
		<h2>Rohan Singhal</h2><br><br>
		<div class="team_member_description">
		Rohan's description
		</div>
		<br>

		<h2>Nikhil Saraf</h2><br><br>
		<div class="team_member_description">
		Nikhil's description
		</div>

	</div>
</div>
