
<div id="accordion">
	<h3><a href="#">Name</a></h3>
	<div>
		<form method="post" action="/registertourney">
		Name: <input type="text" name="name"/><br />
	</div>
	<h3><a href="#">Start Date</a></h3>
	<div>
		Start Date: <input type="text" name="start_date"/> <br />
	</div>
	<h3><a href="#">End Date</a></h3>
	<div>
		End Date: <input type="text" name="end_date"/> <br />
	
	</div>
	<h3><a href="#">Location</a></h3>
	<div>
		Location: <input type="text" name="location"/> <br />
		<input type="submit" name="registertourney" value="Register Tournament"/>
		</form>
	</div>
</div>



