<div id="content">
	<fieldset>
	            <legend>Enter School</legend>
	            <p>
	                <label for="school" class="block">Email:</label>
	                <input type="text" name="school" id="school" />
	            </p>
	
	         
		
	        </fieldset>
	
			<button type="submit" id="addSchool">Add school!</button>
				
	</div>