<h1>Welcome, <%= username %></h1><br />

<span>Write a new post</span><br />
<form action="/submit" method="post">
	Title: <input type="text" name="title" /><br />
	Body: <textarea name="body"></textarea><br />
	<input type="submit" name="submit" value="Add Post" />
</form>

<br/>
<br/>
<span>Previous posts</span><br/>
<ul>
<% for(var i=0; i < posts.length; i++) {
		 if(posts[i].author == username) 
		{ 
	%>
   <li><%= posts[i].title %></li> <a href="/post/<%= posts[i]._id %>">View</a> <a href="/delete/<%= posts[i]._id %>">Delete</a>
	<%	} 
	
 } %>
</ul>
<br />
<br />
<a href="/logout">Logout</a><br />
<a href="/">Home</a>
