<h1>Welcome</h1><br />
<a href="/createTeam">Create Team</a><br />
<br />
<a href="/tourneys">Currently Avalable Tournaments</a><br />
<br />
<div class="left_float">
	<a href="/logout">Logout</a>
</div>
<div class="right_float">
	<a href="/">Home</a>
</div>
