<h1><%= title %></h1><br>

<% if(loggedIn === undefined){ %>
	<a href="/login">Login</a>
	<a href="/register">Register</a>
	
<% } else { %>
	<a href="/dashboard">Dashboard</a> | <a href="/logout">Logout</a>
	<a href="/accordion1">Register Tournament</a>
	<a href="/tourneys">Tournaments</a>
<% } %>
