<span><%= error %></span>
<form method="post" action="/register">
Username: <input type="text" name="username"/><br />
Password: <input type="password" name="password"/> <br />
Role: <input type="text" name="role"/><br />
<input type="submit" name="register" value="Register"/>
</form>