<span><%= error %></span>
<form method="post" action="/registertourney">
Name: <input type="text" name="name"/><br />
Start Date: <input type="text" name="start_date"/> <br />
End Date: <input type="text" name="end_date"/> <br />
Location: <input type="text" name="location"/> <br />
<input type="submit" name="registertourney" value="Register Tournament"/>
</form>
