<!--
======================
JS includes
====================== 
-->
<div class="container_12">

<div id="header" class="grid_12"><!-- begin header -->
	<h1 id="trn_name_title">DebateTab.com</h1>
</div><!-- end header -->


				
			<div class="grid_2 left_col leftnav"><!-- begin leftcol -->
				<ul id="main_menu" class="menu">
					<li class="menu_item" id="menu_rounds">Rounds</li>
					
					<li class="menu_item" id="menu_teams">Teams</li>
					<li class="menu_item" id="menu_judges">Judges</li>
					<li class="menu_item" id="menu_rooms">Rooms</li>
					<li class="menu_item" id="menu_schools">Schools</li>
					<li class="menu_item" id="menu_divisions">Divisions</li>
					<li class="menu_item" id="menu_settings">Settings</li>
					<li class="menu_item" id="menu_debug">Debug</li>
					</ul>
				
				
			</div>
			
			<div class="grid_10" id="right_col"><!-- begin rightcol -->
			
		<div id="rounds_container" class="container">
			<div id="rounds">
			<span>Division: </span><select id="rounds_division_select">
			</select>
			<span>Round Number: </span><select id="rounds_round_number_select">
			</select>
				<br />
				<br />
				<table id="rounds_table">
				</table>
				<br />
				
				<button id="add_round_button">Add Debate</button>
				<button id="pair_round_button">Pair Round</button>
				</div>
		</div>

		<div id="teams_container" class="container">
			<div id="teams">
			<button id="toggle_team_form">Add Team</button>
			<div id="team_form" class="input_form">
				<span class="generic_error" id="add_team_error"></span><br />
				<label>
				Division: <br />
					<select id="newteam_division">
					</select>
				</label> 

				School: <br />
					<select id="newteam_school">
					</select>
				</label>
				<br />
				Competitor Names: <br />
				<div id="newteam_competitors">
					<input type="text" />
				
				</div>
				
				<label>
				Team name: <br />
					<input id="newteam_name" />
				</label>
				<label>

				<button class="save_button" id="add_team_button">Save</button>
			</div>
			<div class="search_container">
				<input type="text" class="search_box" id="teams_search" /> 
				<button id="teams_search_button" class="search_button">Find</button>
				<br />
				<br />
			</div>
			<table id="teams_table">

			</table>
			
			</div>
			
			
		</div>

		<div id="judges_container" class="container">
			<div id="judges">
				<button id="toggle_judge_form">Add Judge</button>
				<div id="judge_form" class="input_form">
					<label>
					Judge Name: <br />
						<input id="new_judge_name" type="text"/>
					</label>
					<label>
					School Affiliation <br />
					<select id="newjudge_school">
					</select>
					<ul id="newjudge_divisions">
				</ul>
				<br />
				<button class="save_button" id="add_judge_button">Save</button>
					</label>
				</div>
				
				<br />
				<br />
				<table id="judges_table">
				</table>

			</div>
		</div>

		<div id="rooms_container" class="container">
			<div id="rooms">
			<button id="toggle_room_form">Add Room</button>
			<div id="room_form" class="input_form">
				<label>
				Room Name: <br />
					<input id="newroom_name" type="text"/>
				</label> 
				<label>
				Division: <br />
					<select id="newroom_division" type="text">
					</select>
				</label> 
				<button class="save_button" id="add_room_button">Save</button>
			</div>
				<table id="rooms_table">
				</table>
				
				

				
			</div>
		</div>

		<div id="schools_container" class="container">
			
			<div id="schools">
				<button id="toggle_school_form">Add School ⇩</button>
				<div id="school_form" class="input_form">
				<label>
				School Name: <br />
					<input id="newschool_name" />
				</label> 
				<button class="save_button" id="add_school_button">Save</button>
				</div>
				<br />
				<br />
				<table id="schools_table">
				</table>
				
				
			</div>
		</div>
		<div id="divisions_container" class="container">
			<div id="divisions">
			<button id="toggle_division_form">Add Division</button> <br />
			<div id="division_form" class="input_form">
			<label>
					Division Name: <br />
					<input id="newdiv_division_name" type="text"/>
				</label> 
				<label>
					Competitors per team: <br />
					<input id="newdiv_comp_per_team" type="text"/>
				</label> 
				<label>
					Flighted rounds: <br />
					<input id="newdiv_flighted_rounds" class="checkbox" type="checkbox" name="flighted" />
				</label> 
				<label>
					Combine speaker points (Public Forum): <br />
					<input id="newdiv_combine_speaks" class="checkbox" type="checkbox" />
				</label> 
				<label>
					Break to: <br />
					<select id="newdiv_break_to">
						<option value="64">Triple Octofinals</option>
						<option value="32">Double Octofinals</option>
						<option value="16">Octofinals</option>
						<option selected="yes" value="8">Quarterfinals</option>
						<option value="4">Semifinals</option>
						<option value="2">Finals</option>
					</select> 
				</label> 

				<label>
					Maximum speaker points: <br />
					<input id="newdiv_max_speaks" type="text" value="30"/>
				</label> 
				<label>
					Number of prelims: <br />
					<input id="newdiv_prelims" type="text" value="4"/>
				</label> 
				<label>
					Ballot Type: <br />
					<select id="newdiv_ballot_type">
					<option value="TFA_CX">Cross Examination</option>
					<option value="TFA_LD">Lincoln Douglas</option>
					<option value="TFA_PF">Public Forum</option>
					</select>
				</label> 
				

				<button class="save_button" id="add_division_button">Save</button>
			</div>
				<table id="divisions_table">
				</table>
			
				<br />
				
			</div>
		</div>
		
		<div id="settings_container" class="container">
			<label>Tournament name:
			<br /><input type="text" id="trn_name"></input>
			</label> 
			<button class="save_button" id="trn_save">Save</button>
			<div id="stats_schools"></div>
			<h2>Division Stats</h2>

			<div id="settings_stats">
			

			</div>
		</div>
		<div id="debug_container" class="container">
			<div id="debug">
				<h1>Debug Console</h1>
				<div id="console_window" class="console"></div>
				<h1>Pairing</h1>
				<button id="pair_tests">Run Pairing Tests</button><br />
				<button id="pair_delete_all_rounds">Delete All Rounds</button><br /> <br />
				<button id="pair_print_pairings">Print all pairings</button>

				<h1>LocalStorage </h1>
				<button class="save_button" id="save_state">Save state</button> <br />
				<button id="clear_storage">Clear Storage</button>  <br />
				<button id="fetch_teams">Fetch Teams</button> <br />
				<button id="export_tournament">Export Tournament</button> <br /> <br />

				
				<h1>SMS</h1>
				<button id="single_text">Single Text</button> <br />
				<button id="mass_texts">Mass Text</button> <br />
				Phone Number: <input type="text" id="debug_sms_input_phone"/><br />
				Message: <br /> <input type="text" id="debug_sms_input_message"/><br />
				<h1>PDF</h1>
				<button id="pdf_gen">Round 1 PDF</button> <br />
				<button id="ballot_gen">Generate CX Ballot</button> <br />
				<button id="ballotLD_gen">Generate LD Ballot</button> <br />
				<br />
				<button id="pdf_brackets_gen">Generate Brackets</button> <br />
				
				<a href="#" rel="dialog_content" class="simpledialog">show dialog!</a>

		<!-- content -->
	<div id="dialog_content" style="display:none;">
		<h3>DEMO</h3>
		<p>This is a demonstration of jQuery SimpleDialog.</p>
		</div>  
				
			</div>
		</div>

		<div id="home_container" class="container">
			<div id="home">
				<span id="tournament_name">Round Rock HS Fall Invitational</span><br />
				<span id="tournament_date">November 18-19, 2011</span>
			</div>
		</div>
</div><!-- end rightcol -->
				
				
		
	


<div class="grid_12" id="credit">
	<p>© 2011 Trillworks LLC</p>
</div>

</div>
