<!--
======================
JS includes
====================== 
-->
<% for(var i=0; i<scripts.length; i++) {%>
    <script src="<%= scripts[i] %>"></script>
<% } %>


<div id="header"><!-- begin header -->
	<h1>DebateTab.com</h1>
</div><!-- end header -->

<div id="wrapper_1"><!-- sets background to white and creates full length leftcol-->
	
	<div id="wrapper_2"><!-- sets background to white and creates full length rightcol-->
	
		<div id="main_col"><!-- begin main content area -->
				
			<div id="left_col"><!-- begin leftcol -->
				<ul id="main_menu" class="menu">
					<li class="menu_item" id="menu_rounds">Rounds</li>
					
					<li class="menu_item">
						<ul id="sub_menu_rounds" class="sub_menu">
						
							<li class="sub_menu_item">
								<select> 
									<option value="round1">Round 1</option>
									<option value="round2">Round 2</option>
									<option value="round3">Round 3</option>
									<option value="round4">Round 4</option>
									<option value="round1">Quarters</option>
									<option value="round1">Semis</option>
									<option value="round1">Finals</option>
								</select>
							</li>
							<li class="sub_menu_item">Print Pairing</li>
							<li class="sub_menu_item">Send SMS</li>
						
						</ul>
					</li>
					
					<li class="menu_item" id="menu_teams">Teams</li>
					
					</li>
					
					<li class="menu_item" id="menu_judges">Judges</li>
					<li class="menu_item" id="menu_rooms">Rooms</li>
					<li class="menu_item" id="menu_schools">Schools</li>
					<li class="menu_item" id="menu_divisions">Divisions</li>
					<li class="menu_item" id="menu_settings">Settings</li>
					</ul>
				
				
			</div><!-- end leftcol -->
				
			<div id="right_col"><!-- begin rightcol -->
				<span class="context_help">Click on a round to record or modify it.</span>
			</div><!-- end righttcol -->
			
			<div id="center_col"><!-- begin centercol -->
			
		<div id="rounds_container" class="container">
			<div class="search_container">
			<input type="text" class="search_box" id="rounds_search" /> <button class="search_button">Find</button>
			</div>
			<br />
			<table class="rounds_table">

			</table>
		</div>

		<div id="teams_container" class="container">
			<div id="teams">
			<div class="search_container">
				<input type="text" class="search_box" id="teams_search" /> 
				<button id="teams_search_button" class="search_button">Find</button>
				<br />
			</div>
			<table id="teams_table">
			</table>
			
			
			<span class="generic_error" id="add_team_error"></span><br />
			<label>
			Division: <br />
				<select id="newteam_division">
				</select>
			</label> <br />

			School: <br />
				<select id="newteam_school">
				</select>
			</label> <br />
			Competitor Names: <br />
			<div id="newteam_competitors">
				<input type="text" />
			
			</div>

			<label>
			Team name: <br />
				<input id="newteam_name" />
			</label> <br />
			<label>
			
			
			

			<button id="add_team_button">Add team</button>
			</div>
			
			
		</div>

		<div id="judges_container" class="container">
			<div id="judges">
				<input type="text" class="search_box" id="judges_search_box" /> 
				<button id="judges_search" class="search_button">Find</button>
				<table id="judges_table">
				</table>
				<br />
				<label>
				Judge Name: <br />
					<input id="new_judge_name" type="text"/>
				</label> <br />
				<button id="add_judge_button">Add Judge</button>
			</div>
		</div>

		<div id="rooms_container" class="container">
			
		</div>

		<div id="schools_container" class="container">
			<div id="schools">
				<input type="text" class="search_box" id="schools_search" /> 
				<button id="schools_search" class="search_button">Find</button>
				<table id="schools_table">
				</table>
				<br />
				<label>
				School Name: <br />
					<input id="new_school_name" />
				</label> <br />
				<button id="add_school_button">Add School</button>
			</div>
		</div>
		<div id="divisions_container" class="container">
			<div id="divisions">
				<table id="divisions_table">
				</table>
				<br />
				<label>
					Division Name: <br />
					<input id="newdiv_division_name" type="text"/>
				</label> <br />
				<label>
					Competitors per team: <br />
					<input id="newdiv_comp_per_team" type="text"/>
				</label> <br />
				<label>
					Flighted rounds: <br />
					<input id="newdiv_flighted_rounds" type="checkbox" checked="no" name="flighted" />
				</label> <br />
				<label>
					Break to: <br />
					<select id="newdiv_break_to">
						<option value="triple_octofinals">Triple Octofinals</option>
						<option value="double_octofinals">Double Octofinals</option>
						<option value="octofinals">Octofinals</option>
						<option selected="yes" value="quarterfinals">Quarterfinals</option>
						<option value="semifinals">Semifinals</option>
						<option value="finals">Finals</option>
					</select> 
				</label> <br />
				<label>
					Maximum speaker points: <br />
					<input id="newdiv_max_speaks" type="text" value="30"/>
				</label> <br />
				<label>
					Number of prelims: <br />
					<input id="newdiv_prelims" type="text" value="4"/>
				</label> <br />
				<br />

				<button id="add_division_button">Add Division</button>
			</div>
		</div>
		<div id="settings_container" class="container">
	
		</div>

		<div id="home_container" class="container">
			<div id="home">
				<span id="tournament_name">Round Rock HS Fall Invitational</span><br />
				<span id="tournament_date">November 18-19, 2011</span>
			</div>
		</div>

			</div><!-- end centercol -->
				
		</div><!-- end main content area -->
				
		<div id="footer"><!-- begin footer -->
			
		</div><!-- end footer -->
	
	</div><!-- end wrapper1 -->

</div><!-- end wrapper2 -->

<div id="credit">
	<p>© 2011 Trillworks LLC</p>
</div>




