<div id="header"><!-- begin header -->
	<h1>This is the header</h1>
</div><!-- end header -->

<div id="wrapper1"><!-- sets background to white and creates full length leftcol-->
	
	<div id="wrapper2"><!-- sets background to white and creates full length rightcol-->
	
		<div id="maincol"><!-- begin main content area -->
				
			<div id="leftcol"><!-- begin leftcol -->
				<p>This is the left column</p>
			</div><!-- end leftcol -->
				
			<div id="rightcol"><!-- begin rightcol -->
				<p>This is the right column</p>
			</div><!-- end righttcol -->
			
			<div id="centercol"><!-- begin centercol -->
				<p>This is the center column </p>
			</div><!-- end centercol -->
				
		</div><!-- end main content area -->
				
		<div id="footer"><!-- begin footer -->
			<p>This is the footer</p>
		</div><!-- end footer -->
	
	</div><!-- end wrapper1 -->

</div><!-- end wrapper2 -->
