<!--
======================
JS includes
====================== 
-->
<% for(var i=0; i<scripts.length; i++) {%>
    <script src="<%= scripts[i] %>"></script>
<% } %>


<div id="header"><!-- begin header -->
	<h1>DebateTab.com</h1>
</div><!-- end header -->

<div id="wrapper_1"><!-- sets background to white and creates full length leftcol-->
	
	<div id="wrapper_2"><!-- sets background to white and creates full length rightcol-->
	
		<div id="main_col"><!-- begin main content area -->
				
			<div id="left_col"><!-- begin leftcol -->
				<ul id="main_menu" class="menu">
					<li class="menu_item" id="menu_rounds">Rounds</li>
					
					<li class="menu_item">
						<ul id="sub_menu_rounds" class="sub_menu">
						
							<li class="sub_menu_item">
								<select> 
									<option value="round1">Round 1</option>
									<option value="round2">Round 2</option>
									<option value="round3">Round 3</option>
									<option value="round4">Round 4</option>
									<option value="round1">Quarters</option>
									<option value="round1">Semis</option>
									<option value="round1">Finals</option>
								</select>
							</li>
							<li class="sub_menu_item">Print Pairing</li>
							<li class="sub_menu_item">Send SMS</li>
						
						</ul>
					</li>
					
					<li class="menu_item" id="menu_teams">Teams</li>
					<li class="menu_item">
						<ul id="sub_menu_teams" class="sub_menu">
							<li class="sub_menu_item" id="add_team_menu">Add team</li>
						</ul>
					</li>
					</li>
					
					<li class="menu_item" id="menu_judges">Judges</li>
					<li class="menu_item" id="menu_rooms">Rooms</li>
					<li class="menu_item" id="menu_schools">Schools</li>
					<li class="menu_item" id="menu_settings">Settings</li>
					</ul>
				
				
			</div><!-- end leftcol -->
				
			<div id="right_col"><!-- begin rightcol -->
				<span class="context_help">Click on a round to record or modify it.</span>
			</div><!-- end righttcol -->
			
			<div id="center_col"><!-- begin centercol -->
			
		<div id="rounds_container" class="container">
			<div class="search_container">
			<input type="text" class="search_box" id="rounds_search" /> <button class="search_button">Find</button>
			</div>
			<br />
			<table class="rounds_table">
			<tr><td>Affirmative</td><td>Negative</td><td>Judge</td></tr>
			<tr><td>Round Rock AC</td><td>Westwood BM</td><td>Colling</td></tr>
			<tr><td>Dulles QD</td><td>Stony Point LL</td><td>Askar</td></tr>
			<tr><td>Hendrickson SS</td><td>Austin ER</td><td>Smith</td></tr>
			<tr><td>Bellaire DF</td><td>Westwood KN</td><td>Jones</td></tr>
			<tr><td>Plano GC</td><td>Hays WE</td><td>Martin</td></tr>
			<tr><td>Greehill CC</td><td>Salado OP</td><td>Stack</td></tr>
			<tr><td>Memoral HQ</td><td>Reagan PQ</td><td>Leibowitz</td></tr>
			</table>
		</div>

		<div id="teams_container" class="container">
			<div id="teams">
			<div class="search_container">
				<input type="text" class="search_box" id="teams_search" /> <button class="search_button">Find</button>
				<br />
			</div>
			<table id="teams_table">
			</table>
			
			
			<span class="generic_error" id="add_team_error"></span><br />
			<label>
			Team name: <br />
				<input id="new_team_name" />
			</label> <br />
			<label>
			School: <br />
				<input id="new_team_school" />
			</label> <br />
			<label>
			Division: <br />
				<input id="new_team_division" />
			</label> <br />
			

			<button id="add_team_button">Add team</button>
			</div>
			
			
		</div>

		<div id="judges_container" class="container">
	
		</div>

		<div id="rooms_container" class="container">
	
		</div>

		<div id="schools_container" class="container">
	
		</div>

		<div id="settings_container" class="container">
	
		</div>

		<div id="home_container" class="container">
			<div id="home">
				<span id="tournament_name">Round Rock HS Fall Invitational</span><br />
				<span id="tournament_date">November 18-19, 2011</span>
			</div>
		</div>

			</div><!-- end centercol -->
				
		</div><!-- end main content area -->
				
		<div id="footer"><!-- begin footer -->
			
		</div><!-- end footer -->
	
	</div><!-- end wrapper1 -->

</div><!-- end wrapper2 -->

<div id="credit">
	<p>© 2011 Trillworks LLC</p>
</div>


<!--
======================
Templates for backbone
====================== 
-->

<script id="team_table_tpl" type="text/template">
	
		<table id="teamTable" class="list">
			<tr><td>Team Code</td><</tr>
		</table>
			
</script>


<script id="team_row_tpl" type="text/template">
	<tr class="team">
		<span class="team_code searchItem">{{ team_code }}</span>
	</tr>
</script>

