<!--
======================
JS includes
====================== 
-->
<div class="container_12">

<div id="header" class="grid_12"><!-- begin header -->
<!--
	<h1 id="trn_name_title">DebateTab.com</h1>
-->

	<img src="images/logo2.png" class="img_logo" alt="DebateTab"/>
</div><!-- end header -->


				
			<div class="grid_2 left_col leftnav"><!-- begin leftcol -->
				<ul id="main_menu" class="menu">
					<li class="menu_item" id="menu_rounds">Rounds</li>
					
					<li class="menu_item" id="menu_teams">Teams</li>
					<li class="menu_item" id="menu_judges">Judges</li>
					<li class="menu_item" id="menu_rooms">Rooms</li>
					<li class="menu_item" id="menu_schools">Schools</li>
					<li class="menu_item" id="menu_divisions">Divisions</li>
					<li class="menu_item" id="menu_settings">Settings</li>
					<li class="menu_item" id="menu_debug">Debug</li>
					</ul>
				
				
			</div>
			
			<div class="grid_10" id="right_col"><!-- begin rightcol -->
			
		<div id="rounds_container" class="container">
			<div id="rounds">
			
				<div class="edit_model_overlay" id="round_form_overlay">
					<div class="edit_model_box">
						<h1>Edit Round</h1>
						<input id="editround_id" type="hidden" value=""/>

						<div id="editround_team1">
							<input type="hidden" id="editround_team1_id" value="" />
							<span id="editround_team1_code"></span>
							<div class="competitors">
							</div>

						</div>
						<div id="editround_team2">
							<input type="hidden" id="editround_team2_id" value="" />
							<span id="editround_team2_code"></span>
							<div class="competitors">
							</div>
						</div>

						<div id="editround_result">
						<select id="editround_result">

						</select>
						<span id="editround_winner"></span>
						</div>
						
						<button class="save_button" id="add_round_button">Save</button>
						<button class="cancel_button" id="cancel_round_button">Cancel</button>
					</div>
				</div>
				<div class="top_buttons">
					<span>Division: </span><select id="rounds_division_select" >
					</select>
					<span>Round Number: </span><select id="rounds_round_number_select">
					</select>
				</div>
				<table id="rounds_table">
				</table>
				<div class="bottom_buttons">
					<button id="add_round_button">Add Debate</button>
					<button id="pair_round_button">Pair Round</button>
					<button id="print_ballots_button">Print Ballots</button>
				</div>
					
			</div>
		</div>

		<div id="teams_container" class="container">
			<div id="teams">
			<button id="toggle_team_form">Add Team</button>
			<div id="team_form" class="input_form">
				<span class="generic_error" id="add_team_error"></span><br />
				<label>
				Division: <br />
					<select id="newteam_division">
					</select>
				</label> 

				School: <br />
					<select id="newteam_school">
					</select>
				</label>
				<br />
				Competitor Names: <br />
				<div id="newteam_competitors">
					<input type="text" />
				
				</div>
				
				<label>
				Team code: <br />
					<input id="newteam_name" />
				</label>
				<label>

				<button class="save_button" id="add_team_button">Save</button>
			</div>
			
			<table id="teams_table">

			</table>
			
			</div>
			
			
		</div>

		<div id="judges_container" class="container">
			<div id="judges">
				<div class="top_buttons">
				<button id="toggle_judge_form">Add Judge</button>
				</div>
				<div id="judge_form" class="input_form">
					<div class="edit_model_overlay" id="judge_form_overlay">
						<div class="edit_model_box">
						<h1>Edit Room</h1>
						<input id="newjudge_id" type="hidden" value=""/>
						<label>
						Judge Name: <br />
						<input id="new_judge_name" type="text"/>
						</label>
						<label>
						School Affiliation <br />
						<select id="newjudge_school">
						</select>
						<ul id="newjudge_divisions">
						</ul>
						<br />
						</label>
						<button class="save_button" id="add_judge_button">Save</button>
						<button class="cancel_button" id="cancel_judge_button">Cancel</button>
						</div>
					</div>	
				</div>
				
				<table id="judges_table">
				</table>

			</div>
		</div>

		<div id="rooms_container" class="container">
			<div id="rooms">
				<div class="top_buttons">
					<button id="toggle_room_form">Add Room</button>
				</div>
				<div id="room_form" class="input_form">
					<div class="edit_model_overlay" id="room_form_overlay">
						<div class="edit_model_box">
						<h1>Edit Room</h1>
						<input id="newroom_id" type="hidden" value=""/>
						<label>
						Room Name: <br />
						<input id="newroom_name" type="text"/>
						</label> 
						<label>
						Division: <br />
						<select id="newroom_division" type="text">
						</select>
						</label> 
						<button class="save_button" id="add_room_button">Save</button>
						<button class="cancel_button" id="cancel_room_button">Cancel</button>
						</div>
					</div>
				</div>
				
				<table id="rooms_table">
				</table>
						
			</div>
		</div>

		<div id="schools_container" class="container">
			
			<div id="schools">
				<div class="top_buttons">
				<button id="toggle_school_form">Add School</button>
				</div>
				<div id="school_form" class="input_form">
					<div class="edit_model_overlay" id="school_form_overlay">
						<div class="edit_model_box">
						<h1>Edit School</h1>
						<input id="newschool_id" type="hidden" value=""/>
						<label>
						School Name: <br />
						<input id="newschool_name" />
						</label> 
						<button class="save_button" id="add_school_button">Save</button>
						<button class="cancel_button" id="cancel_school_button">Cancel</button>

						</div>
					</div>
				</div>
				
				<table id="schools_table">
				</table>
				
				
			</div>
		</div>
		<div id="divisions_container" class="container">
			<div id="divisions">
				
			<div id="divisions_buttons" class="top_buttons">
				<button id="toggle_division_form">Add Division</button> 
			</div>
			
			

			<div id="division_form" class="input_form">
			<div class="edit_model_overlay" id="division_form_overlay">
			<div class="edit_model_box">
			<h1>Edit Division</h1>
			<input id="newdiv_id" type="hidden" value=""/>
			<label>
					Division Name: <br />
					<input id="newdiv_division_name" type="text"/>
				</label> 
				<label>
					Competitors per team: <br />
					<input id="newdiv_comp_per_team" type="text"/>
				</label> 
				<label>
					Flighted rounds: <br />
					<input id="newdiv_flighted_rounds" class="checkbox" type="checkbox" name="flighted" />
				</label> 
				<label>
					Combine speaker points (Public Forum): <br />
					<input id="newdiv_combine_speaks" class="checkbox" type="checkbox" />
				</label> 
				<label>
					Break to: <br />
					<select id="newdiv_break_to">
						<option value="32">Triple Octofinals</option>
						<option value="16">Double Octofinals</option>
						<option value="8">Octofinals</option>
						<option selected="yes" value="4">Quarterfinals</option>
						<option value="2">Semifinals</option>
						<option value="1">Finals</option>
					</select> 
				</label> 

				<label>
					Maximum speaker points: <br />
					<input id="newdiv_max_speaks" type="text" value="30"/>
				</label> 
				<label>
					Number of prelims: <br />
					<input id="newdiv_prelims" type="text" value="4"/>
				</label> 
				<label>
					Ballot Type: <br />
					<select id="newdiv_ballot_type">
					<option value="TFA_CX">Cross Examination</option>
					<option value="TFA_LD">Lincoln Douglas</option>
					<option value="TFA_PF">Public Forum</option>
					</select>
				</label> 
				

				<button class="save_button" id="add_division_button">Save</button>
				<button class="cancel_button" id="cancel_division_button">Cancel</button>

			</div></div>


			
			</div>
				<table id="divisions_table">
				</table>
			
				<br />
				
			</div>
		</div>

		<div id="enter_ballot_container" class="container">
			<div id="enter_ballot">
				<div id="enter_ballot_buttons" class="top_buttons">
					<button id="pop_cx_form">Add CX Ballot</button><br/><br/>
					<button id="pop_ld_form">Add LD Ballot</button>
				</div>
				
				<div id="cx_form" class="input_form">
					<div id="cx_form_overlay" class="edit_model_overlay" style = "display: none;">
						<div class = "edit_model_box">
							<h1>Cross Examination Debate Ballot</h1>
							<input id="newdiv_id" type="hidden" value=""/>

	 
								<label>School Name: <br /> <input id="newschool_name" /></label> 

							<button class="save_button" id="enter_ballot_cx_button">Save</button>
							<button class="cancel_button" id="cancel_enter_cx_button">Cancel</button>
						</div>
					</div>
				</div>
				<br />
				
				<div id="ld_form" class="input_form">
					<div id="ld_form_overlay" class="edit_model_overlay" style = "display: none;">
						<div class = "edit_model_box">
							<h1>Lincoln Douglas Debate Ballot</h1>
							<input id="newdiv_id" type="hidden" value=""/>
								<br/>
								<label>Round: 
									<select id="enter_ballot_cx_round_select" />
										<option value = "1">1</option>
										<option value = "2">2</option>
									</select>
								</label><br/>
								<label><span class="overlay_form_float_left">Judge:
									<select id="enter_ballot_cx_judge_select" />
										<option value = "judge1">Judge 1</option>
										<option value = "judge2">Judge 2</option>
									</select>
									</span>
									<span class="overlay_form_float_right">Affiliation:
										<span id="enter_ballot_ld_affiliation_hook"> 0xE3DFC0 </span>
									</span>
								</label>
									___________________________________________________
								<br/>
								<br/>
								<label>
									<span class="overlay_form_float_left">
									Affirmative Name: <select id="enter_ballot_cx_affirmative_name">
												<option value="Name1">Name 1</option>
												<option value="Name2">Name 2</option>
											</select>
									</span>
									<span class="overlay_form_float_right">
									Negative Name: <select id="enter_ballot_cx_negative_name">
												<option value="Name1">Name 1</option>
												<option value="Name2">Name 2</option>
											</select>
									</span>
								</label>
								<br/>
								<label>
									<span class="overlay_form_float_left">
									Affirmative Code: <span id="enter_ballot_cx_affirmative_name">
											</span>
									</span>
									<span class="overlay_form_float_right">
									Negative Code: <span id="enter_ballot_cx_negative_code">________</span>
									</span>
								</label>
								<br/>
								<label>
									<span class="overlay_form_float_left">
									Affirmative Points: <input id="enter_ballot_cx_affirmative_ponts" type="text" size="2"/>
									</span>
									<span class="overlay_form_float_right">
									Negative Points: <input id="enter_ballot_cx_negative_ponts" type="text" size="2"/>
									</span>
								</label>
								</label>
									___________________________________________________
								<br/>
								<br/>
								<label>
									Comments and Reasons for Decision:
								</label>
								<label>
									<textarea id="enter_ballot_cx_comments_textarea"></textarea>
								</label>
								<br/>
								<label>Upload Image:
								<br/>
									<input type="text" id="enter_ballot_cx_browse_location"/>
									<button id="enter_ballot_cx_browse">Browse</button><br/>
									<button id="enter_ballot_cx_upload">Upload</button>	
								</label>
								<label>
									___________________________________________________
								</label>
								<br/>
								<br/>
								<label>
								In my opinion, the better debating was done by:  <br/>
								<br/>
								<span class="overlay_form_float_left">
									<input type="radio" name="enter_ballot_cx_radio_affirmative" value="Affirmative"/> Affirmative
								</span>
								<span class="overlay_form_float_right">
									<input type="radio" name="enter_ballot_cx_radio_negative" value="Negative"/> Negative
								</span>	
								<br/>
								<label>
									___________________________________________________
								</label>
								<br/>
							<button class="save_button" id="enter_ballot_ld_button">Save</button>
							<button class="cancel_button" id="cancel_enter_ld_button">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="settings_container" class="container">
			<label>Tournament name:
			<br /><input type="text" id="trn_name"></input>
			</label> 
			<button class="save_button" id="trn_save">Save</button>
			<div id="stats_schools">
			</div>
			<h2>Division Stats</h2>

			<div id="settings_stats">
			

			</div>
		</div>
		<div id="debug_container" class="container">
			<div id="debug">
				<h1>Debug Console</h1>
				<div id="console_window" class="console"></div>
				<h1>Pairing</h1>
				<button id="pair_tests">Run Pairing Tests</button><br />
				<button id="pair_delete_all_rounds">Delete All Rounds</button><br /> <br />
				<button id="pair_print_pairings">Print all pairings</button>

				<h1>LocalStorage </h1>
				<button class="save_button" id="save_state">Save state</button> <br />
				<button id="clear_storage">Clear Storage</button>  <br />
				<button id="fetch_teams">Fetch Teams</button> <br />
				<button id="export_tournament">Export Tournament</button> <br /> <br />

				
				<h1>SMS</h1>
				<button id="single_text">Single Text</button> <br />
				<button id="mass_texts">Mass Text</button> <br />
				Phone Number: <input type="text" id="debug_sms_input_phone"/><br />
				Message: <br /> <input type="text" id="debug_sms_input_message"/><br />
				
				<h1>PDF</h1>
				<button id="pdf_gen">Round 1 PDF</button> <br />
				<button id="ballot_gen">Generate CX Ballot</button> <br />
				<button id="ballotLD_gen">Generate LD Ballot</button> <br />
				<button id="columnsPDF_gen">Generate Columns</button> <br />
				<button id="ballotOF_gen">Generate Public Forum Ballot</button> <br />
				<br />
				<button id="pdf_brackets_gen">Generate Brackets</button> <br />

				
				<a href="#" rel="dialog_content" class="simpledialog">show dialog!</a>
				
				<h1>Import and Parse JOT File</h1>
				<button id="parse_jot">Parse</button> <br />
				<textarea id="parse_textarea"></textarea>
				


		<!-- content -->
		<div id="dialog_content" style="display:none;">
		<h3>DEMO</h3>
		<p>This is a demonstration of jQuery SimpleDialog.</p>
		</div>  
				
			</div>
		</div>

		<div id="home_container" class="container">
			<div id="home">
				<span id="tournament_name">Round Rock HS Fall Invitational</span><br />
				<span id="tournament_date">November 18-19, 2011</span>
			</div>
		</div>
</div><!-- end rightcol -->
				
				
		
	


<div class="grid_12" id="credit">
	<p>© 2011 Trillworks LLC</p>
</div>

</div>
